{
  "plugins": [
    ["prismjs", {
      "languages": ["javascript", "css", "markup", "java", "csharp", "sql", "cpp", "c", "powershell", "less"],
      "plugins": ["line-numbers"],
      "theme": "okaidia",
      "css": true
    }]
  ]
}

